.loginWrapper {
  box-sizing: border-box;
  width: 20rem;
  margin: 0 auto;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #e2e4f8;
  padding: 0.7rem;
  color: #333;
}

.loginLabel {
  display: block;
  padding: 0.3rem 0;
  font-size: 0.8rem;
}

.loginInput {
  width: 100%;
  border-radius: 3px;
  padding: 0.3rem 0.6rem;
  border: 1px solid #ccc;
  font-size: 0.8rem;
}

.loginButton {
  margin-top: 0.6rem;
  border: none;
  border-radius: 0.3rem;
  display: block;
  width: 100%;
  padding: 0.3rem;
  background-color: rgb(18, 143, 18);
  color: #fff;
  font-weight: 900;
}

.loginWrapper * {
  box-sizing: border-box;
}
